In [9]:
2*1

2

In [10]:
3/2

1.5

In [11]:
7%4

3

In [12]:
7/4

1.75

In [13]:
50%4

2

In [14]:
2**2

4

In [16]:
(2+10)*(10+3)

156

In [17]:
a=10
type(a)

int

In [18]:
int =a

In [19]:
int

10

In [22]:
int = a

In [23]:
print(int)

10

In [24]:
print('hello')

hello

In [25]:
print("Hello World")

Hello World

In [26]:
"Hello Woeld One"
"Hello World Two"

'Hello World Two'

In [27]:
print("Hello World")

Hello World

In [28]:
print("Hello \nWorld")

Hello
World

In [29]:
len('Hello')

5

In [30]:
len('I am hungry')

11

In [31]:
len('I am ')

5

In [32]:
mystring='Mukul Choudhury'

In [33]:
mystring[1::]

'ukul Choudhury'

In [34]:
mystring[1:]

'ukul Choudhury'

In [35]:
mystring[0:]

'Mukul Choudhury'

In [39]:
mystring[0:len(mystring)-1]

'Mukul Choudhur'

In [40]:
mystring[4:(len(mystring)):2]

'lCoduy'

In [41]:
mystring[::-2]

'yudoClkM'

In [42]:
mystring[::-1]

'yruhduohC lukuM'

In [44]:
mystring[:5]

'Mukul'

In [50]:
mystring[len(mystring)-3:2:-1]

'uhduohC lu'

In [51]:
name = 'Mukul Choudhury'

In [52]:
name[5:]

' Choudhury'

In [53]:
name2="Provash"

In [54]:
name2+name[5:]

'Provash Choudhury'

In [55]:
'Provash'+name[5:]

'Provash Choudhury'

In [57]:
10*'z'

'zzzzzzzzzz'

In [58]:
x="Hello World"

In [59]:
x.upper()

'HELLO WORLD'

In [64]:
x.split()

['Hello', 'World']

In [76]:
"Hi This Is A String".split()

['Hi', 'This', 'Is', 'A', 'String']

In [77]:
print('This Is a string {}'.format('INSERTED'))

This Is a string INSERTED

In [78]:
print('This is an {} {}'.format('inserted','string'))

This is an inserted string

In [80]:
print('This is an {} {} {}'.format('inserted','string',''))

This is an inserted string

In [82]:
print('This is an {1} {0}'.format('inserted','string'))

This is an string inserted

In [83]:
print('This is an {i} {s}'.format(i='inserted',s='string'))

This is an inserted string

In [84]:
print('This is an {s} {i}'.format(i='inserted',s='string'))

This is an string inserted

In [85]:
print('This is an {s} {s} {s} {i}'.format(i='inserted',s='string'))

This is an string string string inserted

In [87]:
result=12/7

In [88]:
print('The result is {}'.format(result))

The result is 1.7142857142857142

In [89]:
print('The result is {}'.format(12/7))

The result is 1.7142857142857142

In [90]:
print('The result is {}'.format((20*9)/78+67))

The result is 69.3076923076923

In [100]:
print('The result is {:10.6f}'.format(result))

The result is   1.714286

In [104]:
name="Jose"

In [108]:
print(f'Hello, his name is {name}')

Hello, his name is jose

In [117]:
name="jose"
name.upper()

'JOSE'

In [109]:
print('Hello, his name is {d}'.format(d=name))

Hello, his name is jose

In [120]:
print('Hello, his name is {}'.format(name))

Hello, his name is jose

In [121]:
name='Mukul'
name.upper()

'MUKUL'

In [126]:
print('Hello, his name is {nam}'.format(nam=name.upper()))

Hello, his name is MUKUL

In [127]:
print(f'Hello, his name is {name}')

Hello, his name is Mukul

In [128]:
print(f'Hello, his name is {name.upper()}')

Hello, his name is MUKUL

In [4]:
name='mukul'
age=18

In [5]:
print(f'hello, his name is {name} and he is {age} years old')

hello, his name is mukul and he is 18 years old

In [2]:
print('hello {} {}'.format("Mukul","hello"))

hello Mukul hello

In [2]:
print("hi")

hi

In [3]:
name="mukul"
age=15
print(f'hello {name} is {age}')

hello mukul is 15

In [1]:
my_list=[1,2,3]

In [2]:
my_list=['STRING',100,23.4]

In [3]:
len(my_list)

3

In [14]:
mylist=['one','two','three','four',5,8.09,28]

In [5]:
mylist[0]

'one'

In [6]:
mylist[1:]

['two', 'three']

In [7]:
mylist[2:3]

['three']

In [8]:
mylist[2:10]

['three']

In [9]:
mylist[:4]

['one', 'two', 'three']

In [10]:
mylist[::]

['one', 'two', 'three']

In [11]:
mylist[:]

['one', 'two', 'three']

In [15]:
mylist=['one','two','three','four',5,8.09,28]

In [16]:
mylist[1:8:2]

['two', 'four', 8.09]

In [17]:
mylist[2::2]

['three', 5, 28]

In [18]:
anotherlist=['four','five']

In [19]:
mylist+anotherlist

['one', 'two', 'three', 'four', 5, 8.09, 28, 'four', 'five']

In [20]:
mylist

['one', 'two', 'three', 'four', 5, 8.09, 28]

In [21]:
mylist[2]='357678'
mylist

['one', 'two', '357678', 'four', 5, 8.09, 28]

In [23]:
my_list.append('sixxxxx')

In [24]:
my_list

['STRING', 100, 23.4, 'sixxxxx']

In [26]:
mylist.append('sic')

In [2]:
mylist

NameError: name 'mylist' is not defined

In [1]:
mylist.pop()

NameError: name 'mylist' is not defined

In [3]:
mylist=['one','two','three','four',5,8.09,28]

In [4]:
mylist.pop()

28

In [5]:
mylist

['one', 'two', 'three', 'four', 5, 8.09]

In [6]:
popped_item=mylist.pop()

In [7]:
popped_item

8.09

In [8]:
mylist.pop(0)

'one'

In [9]:
mylist

['two', 'three', 'four', 5]

In [10]:
mylist.pop(-1)

5

In [11]:
mylist.pop(0)

'two'

In [12]:
mylist

['three', 'four']

In [13]:
newlist=['a','e','c','b','x']
numlist=[4,1,8,3,5,2]

In [14]:
newlist.sort()

In [15]:
numlist.sort()

In [16]:
newlist
numlist

[1, 2, 3, 4, 5, 8]

In [17]:
newlist

['a', 'b', 'c', 'e', 'x']

In [18]:
newlist.clear()

In [19]:
newlist

[]

In [20]:
newlist=['a','e','c','b','x']

In [22]:
newlist.count('e')

1

In [23]:
newlist.index('c')

2

In [26]:
newlist.extend('e')

In [27]:
newlist

['a', 'e', 'c', 'b', 'x', 'e']

In [35]:
newlist.append(2)

In [36]:
newlist

['a', 'e', 'c', 'b', 'x', 'e', 'e', 'e', '3', 2]

In [37]:
newlist.extend('a')

In [38]:
newlist

['a', 'e', 'c', 'b', 'x', 'e', 'e', 'e', '3', 2, 'a']

In [39]:
newlist.extend([4,5])

In [40]:
newlist

['a', 'e', 'c', 'b', 'x', 'e', 'e', 'e', '3', 2, 'a', 4, 5]

In [41]:
newlist.append([4,5])

In [42]:
newlist

['a', 'e', 'c', 'b', 'x', 'e', 'e', 'e', '3', 2, 'a', 4, 5, [4, 5]]

In [43]:
newlist.reverse()

In [45]:
newlist

[[4, 5], 5, 4, 'a', 2, '3', 'e', 'e', 'e', 'x', 'b', 'c', 'e', 'a']

In [46]:
newlist.remove(5)

In [47]:
newlist

[[4, 5], 4, 'a', 2, '3', 'e', 'e', 'e', 'x', 'b', 'c', 'e', 'a']

In [48]:
newlist.insert(2,"new")

In [49]:
newlist

[[4, 5], 4, 'new', 'a', 2, '3', 'e', 'e', 'e', 'x', 'b', 'c', 'e', 'a']

In [52]:
newlist.insert(2,"new")

In [53]:
newlist

[[4, 5], 4, 'new', 'new', 'a', 2, '3', 'e', 'e', 'e', 'x', 'b', 'c', 'e', 'a']

In [60]:
my_dict={'key1':'value1','key2':'value2'}

In [61]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [62]:
my_dict['key1']

'value1'

In [63]:
my_dict['key2']

'value2'

In [64]:
my_dict['value1']

KeyError: 'value1'

In [65]:
prices={'apple':2.99,'oranges':1.99,'milk':5.80}

In [66]:
prices['apple']

2.99

In [67]:
prices['oranges']

1.99

In [68]:
d={'k1':123,'k2':[0,1,2],'k3':{'insideKey':100}}

In [83]:
d['k2'][0]

0

In [79]:
d['k3']['insideKey']

100

In [84]:
d={'key1':['a','b','c']}

In [86]:
d['key1'][2].upper()

'C'

In [87]:
d={'k1':123,'k2':[0,1,2],'k3':{'insideKey':100}}

In [88]:
d['k3']=500

In [89]:
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': 500}

In [90]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [91]:
d.values()

dict_values([123, [0, 1, 2], 500])

In [92]:
d.items()

dict_items([('k1', 123), ('k2', [0, 1, 2]), ('k3', 500)])

In [93]:
t=(1,2,3)

In [94]:
mylist=[1,2,3]

In [95]:
type(t)

tuple

In [96]:
type(mylist)

list

In [97]:
t[0]

1

In [98]:
t[2]

3

In [99]:
mylist[2]

3

In [100]:
t[-1]

3

In [101]:
t.count(1)

1

In [102]:
 t.index(1)

0

In [103]:
t[1]='mew'

TypeError: 'tuple' object does not support item assignment

In [106]:
 myset=set()

In [107]:
myset

set()

In [109]:
myset.add(1)

In [110]:
myset.add(2)

In [111]:
myset.add(3)

In [112]:
myset

{1, 2, 3}

In [113]:
 myset[1]

TypeError: 'set' object is not subscriptable

In [114]:
myset[1]=2

TypeError: 'set' object does not support item assignment

In [115]:
mylist=[1,1,1,2,3,4,2,4,3]

In [121]:
set=(mylist)

In [122]:
set

[1, 1, 1, 2, 3, 4, 2, 4, 3]

In [1]:
mylist=[1,1,1,2,3,4,2,4,3]

In [2]:
set(mylist)

{1, 2, 3, 4}

In [3]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [4]:
myfile=open('myfile.txt')

In [5]:
myfile=open('notmyfile.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'notmyfile.txt'

In [6]:
pwd

'C:\\Users\\compaq'

In [7]:
 myfile=open('myfile.txt')

In [8]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [10]:
 myfile.seek(0)

0

In [11]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [12]:
contents=myfile.read()

In [13]:
contents

''

In [14]:
myfile.seek(0)

0

In [15]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [5]:
%%writefile myfile.txt
Hello My name is mukul
this is the second line
this is the thirs line

Overwriting myfile.txt

In [6]:
pwd

'C:\\Users\\compaq'

In [9]:
e=open('myfile.txt')
e.readlines()

['Hello My name is mukul\n',
 'this is the second line\n',
 'this is the thirs line\n']

In [11]:
myfile.close()

In [15]:
open('myfile.txt').readlines()

['Hello My name is mukul\n',
 'this is the second line\n',
 'this is the thirs line\n']

In [16]:
with open('myfile.txt') as my_new:
    contents=my_new.read()

In [17]:
contents

'Hello My name is mukul\nthis is the second line\nthis is the thirs line\n'

In [18]:
with open('myfile.txt',mode='r') as myfile:
    contents=myfile.readlines()
contents

['Hello My name is mukul\n',
 'this is the second line\n',
 'this is the thirs line\n']

In [19]:
with open('myfile.txt',mode='w') as myfile:
    contents=myfile.readlines()
contents

UnsupportedOperation: not readable

In [20]:
with open('abcd.txt',mode='w') as f:
    f.write('abcdefghijklm')

In [22]:
with open('abcd.txt',mode='r') as f:
    print(f.readlines())

['abcdefghijklm']

In [23]:
with open('abcd.txt',mode='a') as f:
    f.write('\nHello World')

In [25]:
with open('abcd.txt',mode='r') as f:
    print(f.read())

abcdefghijklm
Hello World

In [26]:
with open('abcd.txt',mode='w') as f:
    f.write('mukul')

In [27]:
with open('abcd.txt',mode='r') as f:
    print(f.read())

mukul

In [4]:
%%writefile myfile.txt
hello 
mukul
choudhury

Overwriting myfile.txt

In [18]:
open('myfile.txt').readlines()

['hello \n', 'mukul\n', 'choudhury\n']

In [20]:
with open('myfile.txt',mode='r') as f:
    print(f.read())

hello
mukul
choudhury

In [22]:
with open('myfile.txt',mode='w') as f:
    f.write('\nmy name is anthony gonzalves')

In [23]:
with open('myfile.txt',mode='r') as f:
    print(f.read())

my name is anthony gonzalves

In [24]:
with open('myfile.txt',mode='a') as f:
    f.write('\nerr sorry ! My name is\nMukul Choudhury')

In [27]:
with open('myfile.txt',mode='r') as e:
    print(e.read())

my name is anthony gonzalves
err sorry ! My name is
Mukul Choudhury

In [28]:
myfile=open('C:\\Users\\compaq\\Desktop\\pyhton text test file.txt')

In [34]:
myfile.seek(0)
myfile.readlines()

['hello my name is Mukul Choudhury,\n',
 'I study in BIT Mesra,\n',
 '\n',
 '\n',
 '!@#$%^&?*)/[]}|+(=\n',
 '\n',
 'MUKul CHOUdhury']

In [35]:
with open('C:\\Users\\compaq\\Desktop\\pyhton text test file.txt',mode ='r') as f:
    print(f.read())

hello my name is Mukul Choudhury,
I study in BIT Mesra,


!@#$%^&?*)/[]}|+(=

MUKul CHOUdhury

In [39]:
with open('C:\\Users\\compaq\\Desktop\\pyhton text test file.txt',mode='a') as t:
    t.write('\nMy name is Anthony')

In [52]:
with open('C:\\Users\\compaq\\Desktop\\pyhton text test file.txt',mode ='w') as g:
    g.write('\n\"ALL GONE BITCH\"')

In [53]:
with open('C:\\Users\\compaq\\Desktop\\pyhton text test file.txt',mode ='r') as g:
    print(g.read())

"ALL GONE BITCH"

In [59]:
l_one =[1,2,[3,4]]
l_two =[1,2,{'k1':4}]
l_one[2][0]#<=l_two[2]['k1']

3

In [61]:
for _ in "Hello World":
    print("Mukul")

Mukul
Mukul
Mukul
Mukul
Mukul
Mukul
Mukul
Mukul
Mukul
Mukul
Mukul

In [62]:
tup=(1,2,3)

In [63]:
for item in tup:
    print(item)

1
2
3

In [64]:
mylist=[(1,2),(3,4),(5,6),(7,8)]

In [65]:
len(mylist)

4

In [70]:
for _ in mylist:
    print(_,end= " ,")

(1, 2) ,(3, 4) ,(5, 6) ,(7, 8) ,

In [80]:
for(a,_) in mylist:
    print(a,'\n',_)

1
 2
3
 4
5
 6
7
 8

In [81]:
d={'k1':1,'k2':2,'k3':3}
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [89]:
d={'k1':1,'k2':2,'k3':3}
for i,a in d:
    print(i)

k
k
k

In [109]:
d={'k1':1,'k2':2,'k3':3}
for i in d.values():
    print(i)

1
2
3

In [112]:
x=5
while x<5:
    print(x)
    x+=1
else:
    print('Fuck Off!')

Fuck Off!

In [114]:
index =0
for letter in 'abcde':
    print(f'At index {index} the letter is {letter}')
    index+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [126]:
index =0
word='abcde'
for letter in enumerate(word):
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [130]:
mylist1=[1,2,3,4,5]

In [131]:
mylist2 =['a','b','c']

In [132]:
zip (mylist1,mylist2)

In [133]:
for _ in zip(mylist1,mylist2):
    print(_)

(1, 'a')
(2, 'b')
(3, 'c')

In [134]:
mylist3=[100,200,300]

In [135]:
for _ in zip(mylist1,mylist2,mylist3):
    print(_)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [136]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [137]:
'x'in[1,2,3]

False

In [138]:
'x' in['a','x','c']

True

In [139]:
'a' in 'a aworld'

True

In [146]:
'mykey' in {'mykey':345}

True

In [152]:
d={'mykey':345}
345 in d.items()

False

In [153]:
mylist=[1,2,4,5,546,35,236]

In [154]:
max(mylist)

546

In [155]:
min(mylist)

1

In [160]:
from random import shuffle

In [161]:
mylist=[1,2,4,5,546,35,236]

In [162]:
print(shuffle(mylist))

None

In [163]:
mylist

[546, 5, 2, 1, 236, 35, 4]

In [164]:
from random import randint

In [165]:
randint(0,100)

26

In [170]:
randint(0,10)

10

In [172]:
result=input ('Enter a number here:')

Enter a number here:mukul

result

In [173]:
result

'mukul'

In [174]:
type(result)

str

In [177]:
result=int(input("Whats your age?"))

Whats your age?123

In [178]:
result

123

In [179]:
type(result)

int

In [180]:
print('Hello World')

Hello World

In [7]:
mystring='hello'

In [8]:
mylist=[]
for letter in mystring:
    mylist.append(letter)

In [9]:
mylist

['h', 'e', 'l', 'l', 'o']

In [10]:
mylist=[letter for letter in mystring]

mylist

In [11]:
mylist

['h', 'e', 'l', 'l', 'o']

In [12]:
mylist=[x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [14]:
mylist=[num*num for num in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
my=(1,2,3.0,'hello')

In [26]:
mylist=[]

In [27]:
for ele in my:
    mylist.append(ele)
mylist

[1, 2, 3.0, 'hello']

In [31]:
mylist=[x*2 for x in my]

In [32]:
mylist

[2, 4, 6.0, 'hellohello']

In [36]:
mylist=[x**2 for x in range(0,11) if x%2==0]
mylist

[0, 4, 16, 36, 64, 100]

In [37]:
celcius=[0,10,20,34.5]
fah=[((9/5)*temp + 32) for temp in celcius]

In [38]:
fah

[32.0, 50.0, 68.0, 94.1]

In [39]:
results=[x if x%2==0 else 'ODD' for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [50]:
mylist=[]
for x in [2,4,6]:
    for y in [100,200,300]:
        (mylist.append(x*y))

In [54]:
for x in len(mylist):
    print(mylist,'\n')

TypeError: 'int' object is not iterable

In [55]:
mylist=[x*y for x in [2,4,6] for y in [100,200,300]]
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [56]:
def name_function(i):
    print('hello')

In [57]:
name_function(1)

hello

In [66]:
def name_function(i):
    '''
    DOCSTRING
    '''
    print(name_function(1))

In [86]:
def say_hello(name='NAME'):
    print('say hello',name)

In [92]:
say_hello()

say hello NAME

In [113]:

def say_my_name(name='No Name Detected! Please enter a valid name'):
    
    return 'hello '+name

result=say_my_name(input("Please Enter your full name: "))
result

Please Enter your full name: bhki

'hello bhki'

In [120]:
def piglatin(name):
    if name[0]==('a'or'e'or'i'or'o'or'u'):
        return name+'ay'
    else:
        return name[1:len(name)]+name[0]+'ay'
result= piglatin(input("Enter the name: "))
result

Enter the name: upadhyay

'padhyayuay'

In [122]:
def piglatin(name):
    if name[0].lower() in 'aeiou':
        return name+'ay'
    else:
        return name[1:len(name)]+name[0]+'ay'
result= piglatin(input("Enter the name: "))
result

Enter the name: APPle

'APPleay'

In [127]:
def func(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[1],kwargs['food']))

In [128]:
func(10,20,30,fruit='orange',food='eggs',animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 20 eggs

In [135]:
def old_macdonald(name):
    first_half=name[:3].capitalize()
    second_half=name[3:].capitalize()
    return first_half + second_half
old_macdonald('mukulchoudhury')

'MukUlchoudhury'

In [143]:
def master_yoda(text):
    wordlist=text.split()
    return wordlist[::-1]

In [144]:
master_yoda('My Name Is Mukul')

['Mukul', 'Is', 'Name', 'My']

In [146]:
master_yoda('we are ready')

['ready', 'are', 'we']

In [149]:
def master_yoda(text):
    wordlist=text.split()
    return wordlist[::-1]

In [150]:
master_yoda('Hello My World')

['World', 'My', 'Hello']